@import './header.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


body {
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1519681393784-d120267933ba?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2FsbHBhcGVyJTIwMTkyMHgxMDgwfGVufDB8fDB8fHww) no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*searchbar*/
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 10px;
}

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background: linear-gradient(135deg, blue, red);
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, .5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;

}

.btn-search:focus~.input-search {
  width: 300px;
  border-radius: 0px;
  background: transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(135deg, blue, red) 1;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
  width: 300px;
  background: transparent;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(135deg, blue, red) 1;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/*movies*/
.movies a:hover {
  text-decoration: none;
}

.movies {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie {
  height: 100%;
  width: 302px;
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.movie:hover {
  transform: scale(0.9);
}

.movie-title {
  color: white;
  padding-top: 20px;
  text-align: center;
}

.movie-img {
  width: 300px;
  height: 450px;
}

/*footer*/
.footer {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -2%);
  color: red;
  text-align: center;
  margin: 25px 0 0 0;
  padding: 0;
}

.footer2 {
  color: red;
  text-align: center;
  margin: 25px 0 0 0;
  padding: 0;
}

/*footer
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 70%;
  height: 70%;
  border-radius: 10px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background-color: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 40px;
  margin-left: 20px;
  display: none;
  padding-bottom: 7px;
}
*/
/*contact*/
.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.support {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  padding: 25px 40px;
  margin: 10px;

}

.contact-box {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  padding: 25px 40px;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.contact-box p {
  display: flex;
  justify-content: left;
  font-weight: bold;
}

h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(250, 30, 30, 0.47);
}

.area {
  min-height: 150px;
  resize: none;
}

.right ul {
  margin-top: 50px;
}

.right li {
  margin-top: 20px;
  font-size: 17px;
  list-style: none;
}

.network {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.network a img {
  height: 60px;
  width: 60px;
  margin-top: 60px;
  border-radius: 12px;
  box-shadow: #000000 0px 0px 10px 0px;
}

.contact-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  grid-column: span 2;
}

.btn {

  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, blue, red);
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .7s;
}

.btn:hover {
  scale: 1.05;
  color: #fff;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  max-height: 520px;
  margin: 2rem auto;
  padding: 20px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  text-align: center;
}

.accordion-item-header2 {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}

.accordion-item-header2 a {
  color: red;
}

.accordion-item-header2 a:hover {
  text-decoration: none;
}

.accordion-item-header {
  width: 100%;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
}

.accordion-item-header p,
.accordion-item-header2 p {
  margin: 0;
  text-align: center;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-body-content p {
  text-align: center;
}

@media screen and (max-width: 880px) {
  .contact-box {
    grid-template-columns: 1fr;
  }

  .right {
    height: 100%;
  }

  .network {
    max-width: 70%;
  }
}

/*All products*/

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 2px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: white;
}

/*Odporucane produkty*/
.products a:hover {
  text-decoration: none;
}

.products {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1120px;
}

.product {
  margin: 20px;
  cursor: pointer;
  transition: 0.5s;
  padding: 23px;
}

.product-img {
  max-width: 350px;
  max-height: 240px;
  object-fit: cover;
  object-position: center;
  margin-right: 15px;
}

.product:hover {
  transform: scale(0.9);
}

.product-title {
  color: black;
  font-weight: normal;
  padding-top: 5px;
  text-align: center;
}

/*admin page*/
.adminForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-form {
  border-top: 5px solid #ff523b;
  color: black;
  text-align: center;
  background-color: white;
  box-shadow: 0 30px 60px 0 rgba(68, 114, 170, 0.4);
  max-width: 500px;
  border-radius: 20px;
  padding: 30px;
}

.admin h1 {
  color: black;
  font-size: 24px;
  font-weight: 600;
}

.title {
  margin-bottom: 20px;
}

.title h1::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: #ff523b;
  margin: 8px auto;
}

.admin label {
  float: left;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.admin input,
.admin select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: solid 2px black;
  border-radius: 5px;
  font-size: 14px;
}

select:focus,
input:focus {
  outline: none;
  border-color: #ff523b;
}

/*Reviews*/
.review-form {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #fff;
}

.card-content {
  height: 160px;
  width: 330px;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
  border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: blue;
}

.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: white;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid blue;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin: 15px 0;
  padding: 0;
}

.description {
  font-size: 14px;
  color: gray;
  text-align: center;
}

.swiper-navBtn {
  color: blue;
  transition: color 0.3 ease;
}

.swiper-navBtn:hover {
  color: red;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: blue;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

.custom-next,
.custom-prev {
  color: blue;
  transition: color 0.3s ease;
}

.custom-next:hover,
.custom-prev:hover {
  color: red;
}

.custom-next::before,
.custom-prev::after {
  font-size: 40px;
}

.custom-next {
  right: 10px;
}

.custom-prev {
  left: 10px;
}

.custom-pagination .swiper-pagination-bullet {
  background-color: blue;
  opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: red;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }

  .card-content {
    height: auto;
    width: auto;
  }
}

/*Catalog*/

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 30px 0;
}

select {
  border: 4px solid transparent;
  border-image: linear-gradient(135deg, blue, red) 1;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  /*appearance: none;*/
}

.price-slider {
  width: 100%;
  max-width: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.price-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.price-inputs input {
  width: 80px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  color: gray;
}

.price-inputs span {
  margin: 0 10px;
  font-size: 18px;
}

.slider-container {
  position: relative;
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  position: absolute;
  background: transparent;
  pointer-events: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: lightgreen;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  border: 2px solid #ddd;
  border-radius: 50%;
  position: relative;
  margin-top: -8px;
  pointer-events: all;
  cursor: pointer;
}